html {
    font-family: "Arial", sans-serif;
    color: #e0e0e0;
    margin: 0;
    min-height: 100%;
    background: linear-gradient(to bottom, #191919 0%, #000000 70%, #000000 100%);
}

body {
    background-color: #0000;
}

header {
    padding: 20px;
}

button {
    float: right;
    margin-left: 10px;
    background-color: #222;
    color: #e0e0e0;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 5px;
}

button:hover {
    background-color: #444;
}

#john {
    display: block;
    text-align: center;
}

#john img {
    height: 512px;
}

#john note {
    display: inline-block;
    font-style: italic;
    color: #a0a0a0;
}

a:link, a:visited {
    color: #39f;
}
